body{
    background-image: url('../acces/iconos/fondo.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 20%;
    width: 100%;
    height: auto;   
}

/*Alinear start hacia el centro y darle after*/
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura del contenedor al 100% de la ventana */
  }
  
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 0;
    border: none;
    background-color: transparent;
    padding: 350px 0;
  }
  
  .triangle-button {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url("../acces/iconos/start.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .triangle-button:active {
    transform: scale(1.8);
  }

  /*Aquí termina la animacion del boton*/
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .player,
  .enemi {
    flex: 1;
    text-align: center;
  }
  
  .bar {
    background-color: #ccc;
    padding: 5px;
  }
  
  img {
    width: 80%;
    height: 95%;
  }
  
  .buttons {
    margin-top: 10px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
  }

  /*Contenedor*/
  .bar-container {
    width: 95%;
    height: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  
  .bar {
    background-color: green;
    transition: width 0.3s ease;
  }
  
  .bar.red {
    background-color: red;
  }
  
  .bar-content {
    line-height: 20PX;
    color: white;
  }
  
  
  