@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
/*font-family: 'Bungee Spice', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@200&display=swap');
/*font-family: 'Tomorrow', sans-serif;*/

#ft {
  font-family: 'Bungee Spice', cursive;
  text-align: center;
  background-image: linear-gradient(to right, black, rgb(46, 31, 31));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  background-image: url("../acces/iconos/imagen.svg");
  content: "";
}

#mensajePerdida,
#ataquePla,
#ataqueEne,
#mensajePerdidaa {
  font-size: 200%;
  font-family: 'Tomorrow', sans-serif;
  text-align: center;
  color: rgb(199, 31, 199);
}

#mensajePerdida,
#mensajePerdidaa {
  font-size: 250%;
  font-family: 'Bungee Spice', cursive;
  text-align: center;
}

/*Alinear start hacia el centro y darle after*/
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  /* Ajusta la altura del contenedor al 100% de la ventana */
}


.triangle-button {
  width: 90px;
  height: 50px;
  background-size: cover;
  cursor: pointer;
  font-size: 25px;
  border: 1px solid #7453fa;
  border-radius: 15px;
  box-shadow: 0 2px 0px #7453fa;
  letter-spacing: 1px;
}

/*Aquí termina la animacion del boton*/

.container {
  display: flex;
  justify-content: space-between;
}

.player,
.enemi {
  flex: 1;
  text-align: center;
}

.bar {
  background-color: #ccc;
  padding: 5px;
}

img {
  width: 80%;
  height: 95%;
}

/*Contenedor*/
.bar-container {
  width: 95%;
  height: 20px;
  border: 1px solid #ccc;
  overflow: hidden;
}

.bar {
  background-color: green;
  transition: width 0.3s ease;
}

.bar.red {
  background-color: red;
}

.bar-content {
  line-height: 20PX;
  color: white;
}
#btn1{
  display: flex;
  width: 100vw;
  height: 15vh;
  justify-content: center;
}
#btnAta{
  display: flex;
  width: 30vw;
  height: 15vh;
  justify-content: center;
  border-radius: 35px;
  background-color: rgb(89, 3, 100);
  padding: 15px;
  width: fit-content;
  margin-right: 10px; /* Añade margen derecho de 10px */
}
