body{
    background-color: rgb(46, 207, 207);
    background-image: url("https://images.unsplash.com/photo-1557626204-59dd03fd2d31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}
h1{
    text-align: center;
    color: rgb(204, 218, 243);
    font-size: 150px;
    size: 100%;
}
p{
    text-align: center;
    background-color: yellow;
    font-family:serif;
    color: rgb(155, 92, 9);
    font-size: 25px;
    margin-left: 36%;
    margin-right: 38%;
}
h3{
    font-size: 30px;
    text-align: center;
    color: rgb(46, 59, 53);
    margin-left: 43%;
    margin-right: 43%;
    background-color: rgb(155, 238, 238);
}
.elH5{
    background-color: rgb(236, 192, 133);
    text-align: center;
    font-size: 30px;
    color: rgb(124, 19, 19);
    margin-left: 45%;
    margin-right: 45%;
    position: buttom;
}
#color-rojo{
    background-color: rgb(170, 153, 153);
    text-align: center;
    font-size: 30px;
    color: rgb(49, 49, 49);
    size: 100%;
    margin-left: 36%;
    margin-right: 38%;
}

h4{
    text-align: center;
    font-size: 30px;
    color: rgb(228, 215, 215);
    
}
form{
    text-align-last: center;
}
button{
    background-color: brown;
    color: aliceblue;
    font-size: 250%;
    cursor: pointer;
    font-family: fantasy;
}

.autor{
    color: rgb(8, 247, 79);
    margin-left: 39%;
    margin-right: 38%;
}