 h1{
    text-align: center;
    font-size: 3rem;
    background-image: linear-gradient(to right, #ff0000, #8400FF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;  
}
p{
    color: red;
    font-size: 2rem;
    text-align: center;
}
.im{
    width: 25rem; 
    border: 2px solid rgb(206, 133, 133);
    overflow-wrap: break-word;
}
.letter{
    color: aliceblue;
    width: 30rem;
    border: 2px solid rgb(32, 60, 187);
    overflow-wrap: break-word;
    height: auto;
}
.pic{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 100px;
    column-gap: 20px;
    gap: 10px;
    
}
/*Sprite*/
.io{
    width: 28rem;
    height: 14rem;
    animation: sprite 2s steps(10) infinite;
    transform: scale(.3);
    transform-origin: 0 0;
    background-color: rgba(0, 4, 255, 0.65);
}
@keyframes sprite {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}
button{
    background-color: rgb(241, 192, 192);
    font-size: 2rem;
    cursor: pointer;
    font-family: fantasy;
    overflow-wrap: break-word;
    border: 2px solid rgb(218, 46, 46);
    border-radius: 4px;
    height: 3rem;
    transform: translateY(50%);            
}
button:after{
    color: #8400FF;
    content: '» 👉';
    position: absolute;
    opacity: 0;
    top: 9px;
    right: 120px;
    transition: 0.5s;
}
button:hover{
    padding-right: 24px;
    padding-left: 8px;
}
button:hover:after{
    opacity: 1;
    right: 100px;
}
.aut{
    transform: translate(12rem, -1rem);
}
.pr{
    align-self: center;
    border: 1px solid rgb(71, 161, 86);
    display: grid;
    overflow-wrap: break-word;
    grid-template-columns: 1fr;
}
