@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
.all{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    grid-template-rows: auto repeat(1fr);
}
body{
    background-image: url(https://media.tenor.com/QU1JL8nxGqgAAAAC/goku-filme.gif);
    background-repeat: no-repeat;
    background-position:right;
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
}
h1{
    background-color: blue;
    font-size: 3rem;
    color: white;
    font-family: 'Indie Flower', cursive;;
}
.t2{
    font-family: 'Sawarabi Mincho', serif;;
}
.oli{
    font-family: 'Josefin Sans', sans-serif;
}
button{
    /* background-color: rgb(241, 192, 192); */
    font-size: 2rem;
    cursor: pointer;
    font-family: fantasy;
    overflow-wrap: break-word;
    border: 2px solid rgb(218, 46, 46);
    border-radius: 4px;
    height: 3rem;
    transform: translateY(50%);            
}
button:after{
    color: #8400FF;
    content: '» 👉';
    opacity: 0;
    top: 9px;
    right: 120px;
    transition: 0.5s;
    position: absolute;
}
button:hover{
    padding-right: 24px;
    padding-left: 8px;
}
button:hover:after{
    opacity: 1;
    right: 100px;
}
.Num{
    color: red;
    text-align: center;
}
table{
    width: 99vw;
    height: 100vh;
    border: .1vw solid cadetblue;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    border-collapse: collapse;
    background-color: aliceblue;
}
.table td{
    border: .2vw solid cadetblue;
}
.table td:hover{
    background-image: url(https://www.gifsanimados.org/data/media/194/pez-y-pescado-imagen-animada-0097.gif);
    background-repeat: no-repeat;
    color: blue;
    animation: sprite 2s steps(10) infinite;
}
thead{
    color: #8400FF;
    background-color: rgb(104, 238, 231);
}
@keyframes sprite {
    0%{
        background-position-x: 140;
    }
    100%{
        background-position-x: 800px;
    }
}